apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vbump.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "vbump.name" . }}
    helm.sh/chart: {{ include "vbump.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "vbump.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "vbump.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
    {{- if .Values.persistence.enabled }}
      volumes:
        - name: pv-storage
          persistentVolumeClaim:
            claimName: {{ template "vbump.fullname" . }}
      {{- if .Values.persistence.securityContext }}
      securityContext:
        {{- if .Values.persistence.securityContext.fsGroup }}
        fsGroup: {{ .Values.persistence.securityContext.fsGroup }}
        {{- end }}
        {{- if .Values.persistence.securityContext.fsGroupChangePolicy }}
        fsGroupChangePolicy: {{ .Values.persistence.securityContext.fsGroupChangePolicy }} 
        {{- end}}
      {{- end }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if and .Values.containers .Values.containers.securityContext }}
          securityContext: 
            {{- if .Values.containers.securityContext.runAsNonRoot }}
            runAsNonRoot: {{ .Values.containers.securityContext.runAsNonRoot }}
            {{- end }}
            {{- if .Values.containers.securityContext.runAsUser }}
            runAsUser: {{ .Values.containers.securityContext.runAsUser }}
            {{- end }}
          {{- end }}
          {{- if .Values.persistence.enabled }}
          volumeMounts:
          - mountPath: "/data"
            name: pv-storage
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
